body {
  font-family: sans-serif;
  margin: auto;
  padding-left: 20px;
}

textarea {
	width: 80%;
	height: 200px;
    font-size: 2em;
}

#output {
	padding:1em 1em;
	font-size: 2em;
	line-height: calc(1em + 6px);
	user-select: none;
}

span {
	cursor: pointer;
	border: 1px solid white;
}

span:hover {
	border: 1px solid red;
}

#options {
    border: 1px solid black;
    overflow: hidden;
    width: 90%;
}

#checkboxes {
    width: 100px;
    float: left;
}

.slider {
    width: 300px;
}

.percent {
    width: 40px;
}